html{
    box-sizing: border-box;
}
*{
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}
*,*::before,*::after{
    box-sizing: inherit;
}

.top_banner{
    background-color: #5F0080;
    color:white;
    padding: .6rem;
    text-align: center;
    font-size: .9rem;
}
.myArrow{
    margin-left: 1rem;
}

header{
    height:8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin:0 auto;
    padding-top: 8px;
    position: relative;
    max-width:1200px;

}

.main_logo{
    position: absolute;
    top: 1.5rem;
    left:45%;
    width:fit-content;
    margin:0 auto;
    text-align: center;
}
.mini_text{
    position: relative;
    top:10px;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 2px;
}
.large_text{
    font-family: 'Lobster', cursive;
    font-size: 2.8rem;
}
.deliver_btn{
    height: fit-content;
    padding: 3px 10px;
    background-color: white;
    border:1px solid rgba(0,0,0,0.3);
    color:gray;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-left: 2rem;
}
.emp{
    color:#5F0080;
}

.main_btn{
    background-color: white;
    padding:0px 10px;
    border:none;
    font-size: 0.8rem;
}

.main_btn:last-of-type{
    margin-right: 1rem;
}
.divider{
    display: inline-block;
    position: relative;
    top:3px;
    width:1px;
    height:1rem;
    background-color: rgba(0,0,0,0.3);
}
nav{
    max-width:1200px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}

button{
    border:none;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
}

.nav_btn{
    flex: 2 0 auto;
    font-size: 1rem;
    padding:0 10px;
}
.tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_container{
    background-color: rgba(0,0,0,0.05);
    padding:5px 15px;
    border-radius: 15px;
    

}
input[type=text]{
    background-color: rgba(0,0,0,0);
    border:none;
    outline: none;
}

input::placeholder{
    color:rgba(0,0,0,0.3);
}
.icon_btn{
    font-size: 1.5rem;
    padding: 5px;
    
}
.main_event{
    position: relative;
}

.main_image{
   background-color: #ffcc66;
   width:100%;
   height: 350px;
   background: url(food2.jpg);
   background-size: cover;
   object-fit: cover;
   background-position: center;
}

.event_container{
    position:absolute;
    top:20%;
    left:20%;
    font-size: 1.7rem;
    color:white;
    font-weight: 300;

}

.event_container > *{
    text-shadow: 0 0 10px black;
}

.event_container h2:first-of-type{
    font-weight: 300;
}

.event_container h2:nth-of-type(2){
    position: relative;
    top:-5px;
}

.event_container h4{
    font-weight: 300;
    font-size: 1.2rem;
    position: relative;
    top:-10px;
}
.due_date{
    color:rgb(255, 255, 255);
    position: absolute;
    right:30%;
    bottom:5px;
}
section{
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gray_back{
    background-color: rgba(0,0,0,0.05);

}

section h2{
    text-align: center;
    font-weight: normal;
}

.item_container{
    margin:0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
   
}

.item{
    /* background-color: burlywood; */
    display: inline-block;
}
.item img{
    margin:10px;
    height:300px;
  
}
.item_desc{
    position:relative;
    left:8px;
}
.sale_rate{
    color:orangered;
    font-weight: bold;                                          
}
.not_sale{
    display: none;
}
.item_price{
    font-weight: bold;
}
.origin_price{
    color:rgb(167, 167, 167);
    text-decoration: line-through;
}
.for_sale .item img {
  
    width: 300px;
}

.item_img{
    background-color: lightpink;
    width:300px;
    height:300px;
    margin:0.7rem;
}
.item_img:nth-of-type(1){
    background:url(fruit.jpg);
    background-size: cover;
    background-position: center;
}
.for_sale .item_desc{
    text-align: center;
}
.for_sale .item_desc p:nth-child(1){
    font-weight: bold;
}
.for_sale .item_desc p:nth-child(2){
    color:gray;
}
.mid_banner{
    background-color: rgba(0,0,0,0.05);
    max-width: 1000px;
    margin: 0 auto;
    padding:2rem 4rem;
    font-size: 1.3rem;
   
}

.mid_banner h5{
    position:relative;
    top:10px;
    font-weight: 300;
}
.tag_container{
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.tag{
    background-color: rgba(0,0,0,0.05);
    padding: 0.5rem 1rem;
    margin:0.5rem;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}
.tag.active{
    background-color: #5F0080;
    color:white;
}
.tag:hover{
    color:#5F0080;
    background-color: rgba(115, 30, 136, 0.05);
}
.show_all_btn{
    border:1px solid gray;
    padding: 1rem 10rem;
    margin: 5rem auto;
}
footer{
    flex:1 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
footer h2{
    padding: 0.5rem 2rem;
}
footer p{
    font-size: 0.9rem;
    line-height: 1.7;
}
.footer_container{
    flex:1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer button{
    width: 9rem;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 0.5rem 1.5rem;
    margin:1rem;
}
.gray{
    color:gray;
}
.link_container{
    display: flex;
}
footer a {
    text-decoration: none;
    color:black;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    flex:1 0 auto;
}
.info{
    font-size: 0.5rem;
    width:300px;
    
}

.myFooter{
    flex:1 0 auto;
    position:relative;
}